<div class="col-sm-12 col-lg-4 mb-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">
            <%= recipe.title %>
          </a>
        </h4>
        <div class='mr10 float-right'>
          <a href="#">削除</a>
          <a href="#">編集</a>
        </div>
        <ul class="list-inline">
          <li class="list-inline-item">
            <%= recipe.user.name %>
          </li>
          <li class="list-inline-item">
            <%= recipe.created_at %>
          </li>
        </ul>
        <p class="card-text"><%= recipe.content %></p>
      </div>
    </div>
</div>